* {
    font-family: 'Courier New', Courier, monospace;
    background-color: #fbfae3;
}


.aNav {
    margin-right: 30px;
    text-decoration: underline;
    text-decoration-color: rgb(121, 180, 31);
    text-decoration-thickness: 1px;
}